{% macro parse_stream(value, sensor) %}
{% for word in value.split()[0].strip("{}").split(",") -%}
    {% if word.find(sensor) > 0 %} 
    {{ float(word.split(':')[1]) }}
    {% endif -%}
{%- endfor %}
{% endmacro %}
